{% extends "base.html" %} {% block title %} About Me - Adnan Alouane {% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M3C7JNPGPP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-M3C7JNPGPP');
</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header style="text-align: center;">
        <h1>About Me</h1>
    </header>
    <section class="about-me">

        <h2>Hello, I'm Adnan Alouane</h2>

<p>Originally from Pittsburgh, PA, I'm currently pursuing my studies in Computer Science and Computer Engineering at the University of Southern California (USC) in Los Angeles, CA.</p>

<p>I have a strong passion for working on frontend web development projects. There's something incredibly satisfying about creating user-friendly and visually appealing interfaces. It's like crafting digital experiences that leave a lasting impact. I hope to eventually become a Full-Stack developer.</p>

<p>In my free time, I embrace the world of coding as a source of inspiration and adventure. Exploring new project ideas is my way of embarking on mini-adventures, where every line of code represents a new challenge to overcome. I find immense joy in bringing my creative ideas to life through programming.</p>

<p>I'm also proud to serve as a Web Developer for the US government within the US Veterans Affairs Department. Working on projects that directly impact and support our veterans has been an incredibly rewarding experience. This role has allowed me to combine my technical skills with my passion for making a difference in the lives of those who have served our country.</p>

<p>Outside of the tech world, I'm also a passionate basketball player. I love the camaraderie and teamwork that comes with the sport. As a proud Pittsburgh Steelers fan, I'm always ready to support my team, no matter where I am.</p>

<p>I believe in the power of connections and collaboration. Let's connect and explore how we can leverage our shared interests and skills to make a meaningful impact in the tech world or just chat about the latest Steelers game!</p>

<p>Feel free to reach out—I'm looking forward to connecting with you!</p>

        <!-- <img style="padding-top: 10px;" src="{{ url_for('static', filename='images/headshot.jpg') }}" alt="Headshot" height="400">    -->
    </section>
 
</body>
</html>


{% endblock %}