{% extends "base.html" %} {% block title %} About Me - Adnan Alouane {% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M3C7JNPGPP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-M3C7JNPGPP');
</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header style="text-align: center;">
        <h1>About Me</h1>
    </header>
    <section class="about-me">

        <h2>Hello, I'm Adnan Alouane</h2>
        <p>Welcome to my portfolio website! I'm a CECS Junior at USC passionate about Python and Web Development.</p>
        <p>I enjoy learning about both backend and frontend processes, and hope to work Full-Stack one day. I'm excited to showcase my projects and achievements here.</p>
        <p>Feel free to explore my work and get in touch!</p>
    </section>
   
</body>
</html>


{% endblock %}