{% extends "base.html" %} {% block title %} About Me - Adnan Alouane {% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M3C7JNPGPP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-M3C7JNPGPP');
</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header style="text-align: center;">
        <h1>About Me</h1>
    </header>
    <section class="about-me">

        <h2>Hello, I'm Adnan Alouane</h2>

        <p>Hi there! I’m from Pittsburgh, PA, and I’m currently studying Computer Science and Computer Engineering at the University of Southern California (USC) in Los Angeles.</p>

        <p>I’ve always been drawn to frontend web development. There’s something really rewarding about designing interfaces that not only look great but are also easy to use. It feels like creating digital experiences that people remember. My goal is to eventually grow into a Full-Stack developer.</p>
        
        <p>When I’m not working on class projects, I love diving into personal coding adventures. It’s fun to come up with new project ideas and see them through—every bit of code is like solving a mini puzzle, and there’s nothing better than seeing an idea come to life.</p>
        
        <p>I’m also proud to be a Web Developer with the US Veterans Affairs Department. It’s been an amazing opportunity to work on projects that directly benefit veterans. Combining my technical skills with a chance to give back has been really fulfilling.</p>
        
        <p>Outside of coding, basketball is a big passion of mine. I love the teamwork that comes with the game. And as a die-hard Pittsburgh Steelers fan, you’ll often find me cheering for my team, wherever I am.</p>
        
        <p>I’m always open to connecting with new people—whether it’s to chat about tech or the latest Steelers game. Feel free to reach out, I’d love to hear from you!</p>
        
        <img style="padding-top: 10px;" src="{{ url_for('static', filename='images/headshot.jpg') }}" alt="Headshot" height="400">   
    </section>
 
</body>
</html>


{% endblock %}