{% extends "base.html" %} {% block title %} Projects {% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header style="text-align: center;">
        <h1> Projects</h1>
    </header>
    <section class="project">
        <div class="project-details">
            <a href="https://github.com/alouaneusc/eddle-html">
                <h2>Eddle</h2>
            </a>
            <p> Based off the infamous Wordle game, Eddle is a player guessing game that tells you how close or far you are based on the color of the box. <span>Click <a href="https://eddle.xyz">here</a>  to play</span> </p>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JSS</li>
            </ul>
        </div>
        <div class="project-video">
            <video controls width="480" height="270">
                <source src="{{ url_for('static', filename='images/eddle.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </section>

    <section class="project">
        <div class="project-details">
            <a href="https://github.com/samuelbamueldamuel/re_sam_isitory">
            <h2>Basketball Simulator</h2>
            </a>
            <p> Developing a basketball game where you can manage and take control of your team's destiny. Still a work in progress, but player is able to simualte games, trade, sign, and draft players now.</p>
            <ul>
                <li>Django</li>
                <li>Python</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>SQL</li>
            </ul>
        </div>
        <div class="project-image" >
            <img src="{{ url_for('static', filename='images/ballgame.png') }}" alt="Image Alt Text" width="480" height="270">
        </div>   
    </section>

    <section class="project">
        <div class="project-details">
            <a href="https://github.com/alouaneusc/fun-game">
                <h2>Run, Edd, Run</h2>
            </a>
            <p>The game is to avoid oncoming defenders for as long as possible. Once you get tackled, the game is over.</p>
            <ul>
                <li>Pygame</li>
                <li>Python</li>
            </ul>
        </div>
        <div class="project-video">
            <video controls width="480" height="270">
                <source src="{{ url_for('static', filename='images/rungame.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </section>

    <section class="project">
        <div class="project-details">
            <a href="https://github.com/alouaneusc/calculator">
            <h2>Calculator</h2>
        </a>
            <p> Built a Calculator using Python GUI library.</p>
            <ul>
                <li>Tkinter</li>
                <li>Python</li>
            </ul>
        </div>
        <div class="project-video">
            <video controls width="480" height="270">
                <source src="{{ url_for('static', filename='images/calc.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </section>

    <section class="project">
        <div class="project-details">
            <a href="https://github.com/alouaneusc/snake-game">
            <h2>Snake Game</h2>
            </a>
            <p> Plain old snake game.</p>
            <ul>
                <li>Pygame</li>
                <li>Python</li>
            </ul>
        </div>
        <div class="project-video">
            <video controls width="480" height="270">
                <source src="{{ url_for('static', filename='images/snake.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </section>

    <section class="project">
        <div class="project-details">
            <a href="https://github.com/alouaneusc/flask">
            <h2>Flask Site</h2>
            </a>
            <p> To learn more about Flask, I made my personal using Flask to display my work.</p>
            <ul>
                <li>Flask</li>
                <li>Python</li>
                <li>HTML</li>
                <li>CSS</li>
            </ul>
        </div>
        <div class="project-image" >
            <img src="{{ url_for('static', filename='images/site.png') }}" alt="Image Alt Text" width="480" height="270">
        </div>        
    </section>
</body>
</html>


{% endblock %}